<div style="font-size: 9rem; float: left">Learn without limits</div>
<div>
  <img
    src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://images.ctfassets.net/wp1lcwdav1p1/5CFC8u8XiXcbSOlVv6JZQx/4e6f898f57f9d798437b3aa22026e30b/CourseraLearners_C_Composition_Hillary_copy__3_.png?auto=format%2Ccompress&dpr=1&w=459&h=497&q=40"
    alt="student"
  />
</div>

<div class="container-fluid p-5 bg-primary text-white text-center">
  <h1>Learn AI to excel</h1>
</div>
<div class="container mt-5">
  <div class="row">
    <div class="col-sm-4">
      <h3>Why AI?</h3>
      <p>
        AI automates tasks, increasing efficiency and productivity. AI analyzes
        data to uncover patterns and insights. AI provides personalized
        recommendations and experiences. AI supports decision-making processes.
        AI drives innovation and scientific discoveries. AI enhances customer
        support and service. AI improves safety and security measures.
      </p>
    </div>
    <div class="col-sm-4">
      <h3>Future of AI</h3>
      <p>
        AI will continue to advance rapidly, driving technological innovation
        and transforming industries. AI will become increasingly integrated into
        our daily lives, from smart homes to autonomous vehicles. AI will play a
        crucial role in addressing global challenges, such as healthcare,
        climate change, and sustainability. Ethical considerations and
        responsible AI deployment will be paramount for shaping the future of
        AI. Collaboration between humans and AI systems will become more
        prevalent, leading to new opportunities and challenges
      </p>
    </div>
    <div class="col-sm-4">
      <h3>OUR AIM</h3>
      <p>Teaching students AI empowers them to shape the future, seize job opportunities,
         and become critical thinkers and innovators in an AI-driven world.
      </p>
    </div>
  </div>
</div>
